@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
}

abbr.name{
	white-space: nowrap;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="epigraph"] blockquote{
	margin: 5em auto;
	max-width: 50%;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

.headline p{
	text-indent: 0;
	font-variant: small-caps;
}

